/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
@import "variables"; //standard variables throughout project
/*
==========================
GENERAL
==========================
*/
.SearchBox{
  resize: none;
}
textarea {
  resize: vertical; max-height: 300px; min-height: 40px;
  color: $default-grey;
}

body {
  font-family: $tab-font;
}

h1, h2, h3, h4, h5 {
  color: $default-grey;
}
/*
==========================
HEADER
==========================
*/
.Apps-Header {
  @include tab-header($apps-green);
}

.Apps-Body {
  @include tab-body($bkg-grey);
}

.Bookmarks-Title-Text {
  @include tab-title
}
/*
==========================
BOOKMARKS
==========================
*/
.Bookmarks {
  border: solid 0.2px $default-grey;
  color: $default-grey;
}

/*
==========================
SEARCH
==========================
*/
.SearchBox {
  @include search-box;
}

.SearchBoxText {
  @include tab-search-text;
}




/* .searchBookmarksBackground { */
/*   @include searchBackground($apps-green) */
/*   overflow: auto; */
/*  } */

/*
==========================
BUTTONS
==========================
*/
/* NOTE this is kind of not optimal.  look at notes tab alter maybe */
.AppsExitButton {
  @include tab-exit-button(white);
  
  &:hover {
    background: linear-gradient(to bottom, #f3f3f3 20%, #ffffff 100%);
    background-color:#f6f6f6;
  }
}

/* -------------------------------------------------------------------------- */

/* NOTE changes here!! */
.add-to-body {
  font-size: 12px;
  color: black;
  margin-left: 20px;
  margin-right: 20px; }

/* flexboxes */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px; }

.flex1 {
  flex: 1; }

.AppsTabTrashIcon {
  flex: 1; 
  min-width: 30px;
  align-items: center;
  justify-content: center;
}

.flex12 {
  flex: 12; }
