/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
@import "variables"; //standard variables throughout project
/* ===================================== 
   Base Element Styles
======================================== */

* {
	box-sizing: border-box;
}

body {
	/* font-size: 1.4em; */
	font-family: 'Varela Round', sans-serif;
  /* font-weight: bold; */
	color: #FFFFFF;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: &light-grey;
  background-image: url("/assets/wallpapers/18.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  /* background-size: cover; */
}


/* ===================================== 
   Main Layout Styles
======================================== */

.main {
  text-align: center;
}
#App {
  width: 100%;
}
/* controls pop-out tab */
#main {
  margin-right: 0px;
}

/* ===================================== 
   Main Top Layout
======================================== */

.main-top {
  margin-bottom: 8vh; /*this will cause overflow*/
  /* display: flex; */
  /* height: 33vh; */
  /* justify-content: center; */
}

/* ---- Time ---- */

.time {
 @include main-time
}



/* ---- Search Area ---- */

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-type {
  font-size: .8rem;
  display: flex;
  width: 38vw;
  justify-content: space-between;
  margin-bottom: 1vh;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  padding-left: 5%;
  padding-right: 15%;
}
.search-input-box {
  min-width: 300px;
  background: #FFFFFF;
  color: #7E7E7E;
  width: 40vw;
  height: 4vh;
  display: flex;
  border-radius: 20px;
  box-shadow: none;
  border: none;
  margin-bottom: 60px;
/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
}

/* The text "Google" inside the search bar */
.box-item {
  justify-content: flex-start;
  padding-left: 20px;
  align-self: center;
  font-size: .9rem;
  letter-spacing: 2px;
}


/* ===================================== 
   Main Grid Layout
======================================== */


.main-grid {
  max-width: 60vw;
  /* height: 66vh; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 100px 100px; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 0.5rem;
  margin: auto;
  /* grid-auto-columns: 1fr; */
  /* grid-auto-flow: column; */
  
}
.main-grid p {
  font-size: .8rem;
  letter-spacing: 2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* .main-grid {
  background: #fff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
	margin: 45px auto;
} */

.item {
  text-align: center;
  margin: auto;
}

.item img{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}



/* .item {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.18);
  padding: 0.85em;
  background: #6e859c;
  border: solid 1px rgba(110,133,156,0.15);
  border-radius: 0.3em;
} */

img {
  display: block;
  width: 100%; 
  max-width: 110px;
  min-width: 100px;
}

/* ================================= 
  Media Queries
==================================== */


/* ================================= 
  Footer
==================================== */

.leftFooter, .rightFooter {
  font-size: 0.75rem;
  display: inline-block;
  bottom: 0.5%;
  position: fixed;
  text-transform: lowercase;
  color: $light-grey;
}

.rightFooter {
  float: right;
  right: 20px;
}

.leftFooter {
  float: left;
  left: 20px;
}

