/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
@import "variables"; //standard variables throughout project
@import "_normalize";
/* =====================================
   Base Element Styles
======================================== */

* {
	box-sizing: border-box;
}

body {
	font-size: 1.4rem ;
	font-family: $tab-font ;
	color: white ;
  padding: 0;
  margin: 0;
  background-color: $light-grey;
  overflow: hidden;
}
h1, h2, h3, h4, h5 {
  color: white;
}

/* =====================================
   Main Layout Styles
======================================== */

.main {
  text-align: center;
  font-size: 1.7rem;
	font-family: $tab-font;
	color: white;
	// height: 100vh;
	// display: flex;
  // flex-direction: column; (to apply flex grow to #icons)
}

.main-top {
	padding-top: 10vh;
}

#App {
  width: 100%;
}
/* controls pop-out tab */
#main {
  margin-right: 0px;
}

.main-content {
	height: 90vh;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-self: center;
}

/* =====================================
   Main Top Layout
======================================== */

/* ---- Time ---- */

.time {
 @include main-time
}



/* ---- Search Area ---- */

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-type {
  font-size: .8rem;
  letter-spacing: 2px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 38vw;
  margin: 0 auto .6rem;
  padding-left: 10%;
  padding-right: 15%;
	display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.search-form {
	margin-bottom: 40px; /* Apply m-bottom to parent container */
}

.search-input-box {
  background: white;
	min-width: 300px;
  width: 40vw;
  height: 4.5vh;
	min-height: 20px;
  border-radius: 2vw;
  box-shadow: none;
  border: none;
  margin: auto;
	/* font properties */
	color: $light-grey;
	line-height: 4vh;
  font-size: 1rem;
  letter-spacing: 2px;
	text-align: center;
	/* Google icon */
	background-image: url("../assets/Icons_google logo-13.png");
	background-size: 2vw;
	background-position: 10px 50%; /* (img) (horizontal, vertical) */
	background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
    &::-webkit-search-cancel-button {
      position: relative;
      right: 3.5vw;
    }
    &::placeholder {
      font-size: .8rem;
      text-indent: .6vw;
      text-align: left;
    }
    &:focus {
      outline: none;
    }
}

/* =====================================
   Main Grid Layout
======================================== */

#icons { /* Define parent container so you can use percentages in child (grid container) */
  width: 43vw;
  margin: 20px auto 0;
	// flex: 1;
}

.main-grid {
  display: grid;
  grid-column-gap: 10%;
  grid-row-gap: 20%;
  grid-template-columns: repeat(4, minmax(25px, 1fr)); /* Set to 5 cols instead of auto wrapping */
  grid-template-rows: 1fr 1fr;
	p {
	  font-size: .8rem;
	  letter-spacing: 2px;
	  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	}
}

/* .main-grid {
  background: #fff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
	margin: 45px auto;
} */

.item {
  text-align: center;
  margin: auto 0;
  width: 100%;
  margin-bottom: 25px;
	img {
	  border-radius: 50%;
		display: block;
	  width: 100%;
    max-width: 90px;
    margin: auto;
    @include gridIcons;
  }
}

.blur {
  filter: blur(5px);
}


/* =================================
  Media Queries
==================================== */


/* =================================
  Footer
==================================== */

.leftFooter, .rightFooter {
  font-size: 0.75rem;
  // display: inline-block;
  text-transform: lowercase;
  color: $light-grey;
}

footer {
	display: flex;
  height: 10vh;
	justify-content: space-between;
	flex-flow: row-reverse;
	p {
		-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	}
}

.leftFooter {
  // float: left;
  // left: 20px;
	align-self: flex-end;
  padding-left: 20px;
	padding-bottom: 20px;
}

.footer-icon {
	height: 40px;
	// height: 60%;
  cursor: pointer;
	align-self: flex-end;
	padding-right: 20px;
	margin-bottom: 20px;
}

// .footer-margin {
// 	height: 20px;
// }

