
/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
@import "variables"; //standard variables throughout project

/*
==========================
GENERAL
==========================
*/
label {
	font-weight: 300 !important;
}
/*
==========================
HEADER & BODY
==========================
*/
/*  main blue header */ 
.Todos-Header {
  @include tab-header($todos-blue);
}


.TododExitButton {
  @include tab-exit-button(white);
  
  &:hover {
    // background: linear-gradient(to bottom, #f3f3f3 20%, #ffffff 100%);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
  }
}

/* main title Todos in the header */
.Todos-Title-Text {
  @include tab-title
}
/* whole body under the main heading */
.Todos-Body {
    color: $default-grey;
    font-size: 12px;
    @include tab-body($bkg-grey);
}
/*
==========================
NEW TODO COMPONENT
==========================
*/
.Todos-Background {
    @include searchBackground($todos-blue-bkg)
}
/* input box where I write new Todos */
.input-box {
	@include search-box;
	margin-top: 12px;
}
  
// text inside input box
.inputBoxText {
    @include tab-search-text;
    padding-bottom: 12px;
    text-align: center;
}
  
/*
==========================
TODO FILTERS
==========================
*/
// this is for the hover effect over Todo and Done links to change tab
.TodoButtonHover:hover {
    color: $todos-blue;
}

.DoneButtonHover:hover {
    color: $todos-blue;
}

// properties here will appply to all listed classes
.Done-heading, .Done-heading-selected, .Todo-heading, .Todo-heading-selected {
    font-size: 14px;
    letter-spacing: 2.7px;
    text-align: center;
    flex: 1;
    padding-top: 8px;
}

.Done-heading {
    color: $default-grey;
}

.Done-heading-selected {
    color:$todos-blue;
    font-weight: 700;
}

/* Todo and Done heading under the input box */
/* Will toggle color if selected or not */
.Todo-heading {
    color: $default-grey;
}

.Todo-heading-selected {
    color:$todos-blue;
    font-weight: 700;
}

/*
==========================
TODO & DONE LIST
==========================
*/
/* list with Todo/Done items */
.Todo-list {
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
    background: white;
}
/* this is the link to clear to do list in Done tab */
.aClearTodoList {
    color: $default-grey;
    margin-left: 10px;
    margin-top: 40px;
    float: right;
}

.aClearTodoList:hover {
    color: $todos-blue;
    margin-left: 10px;
}

/* flexboxes */
.flex {
    display: flex;
    padding-bottom: 10px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex12 {
    flex: 12;
}

/*
==========================
BUTTONS
==========================
*/
/* set the size of the delete image */
.imgDelete {
    width: 17px;
    height: 17px;
}

.imgMoveUp {
    width: 30px;
    height: 30px;
    vertical-align: center;
    padding-bottom: 10px;
}


/* Make the img appear when mouse hover over */
/* https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only */
.hover_img  { 
    position: relative; 
    padding-right: 6px;
}
.hover_img  span { 
    position: absolute; 
    display: none; 
    z-index: 99; 
    padding-right: 6px;
}
.hover_img:hover span { 
    display: block; 
    padding-right: 6px;
}

.blue {
    color: $default-grey;
}

/* 
                    *** checkbox styling Todo tab***
*/
/* https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */


.todo-control-group {
	display: inline-block;
	margin-left: 10px;
	text-align: left;
	vertical-align: top;
}


.todo-control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.todo-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}


.todo-control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	opacity: 0.2;
	background: white;
    border: 1px solid $todos-blue;
}


/* Hover and focus states */
.todo-control:hover input ~ .todo-control__indicator,
.todo-control input:focus ~ .todo-control__indicator {
	background: $todos-blue;
    border: 1px solid $todos-blue;
	opacity: 1;
}

/* Checked state */
.todo-control input:checked ~ .todo-control__indicator {
    background: white;
    border: 1px solid $todos-blue;
}

/* Hover state whilst checked */
.todo-control:hover input:not([disabled]):checked ~ .todo-control__indicator,
.todo-control input:checked:focus ~ .todo-control__indicator {
	background: $todos-blue;
    border: 1px solid $todos-blue;
}


/* Check mark */
.todo-control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.todo-control input:checked ~ .todo-control__indicator:after {
	display: block;
}

/* Checkbox tick */
.todo-control--checkbox .todo-control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* 
                    *** checkbox styling Done tab***
*/
/* https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */

.done-control-group {
	display: inline-block;
	margin-left: 10px;
	text-align: left;
	vertical-align: top;
}


.done-control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.done-control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.done-control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	opacity: 0.3;
	background: #959595;
}


/* Hover and focus states */
.done-control:hover input ~ .done-control__indicator,
.done-control input:focus ~ .done-control__indicator {
	background: #959595;
	opacity: 0.3;
}

/* Checked state */
.done-control input:checked ~ .done-control__indicator {
	background: #959595;
}

/* Hover state whilst checked */
.done-control:hover input:not([disabled]):checked ~ .done-control__indicator,
.done-control input:checked:focus ~ .done-control__indicator {
	background: #959595;
}


/* Check mark */
.done-control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.done-control input:checked ~ .done-control__indicator:after {
	display: block;
}

/* Checkbox tick */
.done-control--checkbox .done-control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.line {
    text-decoration: line-through;
}
