/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/

@import "variables"; //standard variables throughout project

/*
==========================
GENERAL
==========================
*/

/*
==========================
HEADER & BODY
==========================
*/
.Weather-Header {
  @include tab-header($weather-light-blue);
}
.WeatherExitButton {
  @include tab-exit-button(white);
  
    &:hover {
      // background: linear-gradient(to bottom, #f3f3f3 20%, #ffffff 100%);
      box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
    }
}
.Weather-Title-Text {
  @include tab-title
}

.Weather-Body {
  @include tab-body($bkg-grey);
  font-family: $tab-font;
}

.weathersSearchBackground {
  @include searchBackground($weather-bkg);
}
.weatherCards {
  width: 284px;
  margin: 8px;
  padding: 8px;
  position: relative;
  background-color: $weather-color-day;
}

.errorMessage { 
  max-width: 284px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  color: $default-grey;
  display: block;
}
/*
==========================
SCROLLBAR
==========================
*/
.Weather-Body::-webkit-scrollbar {
  @include scrollbar;
}
.Weather-Body::-webkit-scrollbar-track {
  @include scrollbar-track;
}
.Weather-Body::-webkit-scrollbar-thumb {
  @include scrollbar-thumb;
}
/*
==========================
GRID
==========================
*/
.container {
  width: 284px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.container-fluid {
  width: 284px !important;
  margin: 0px !important;
}
.row {
  width: 270px;
  margin: 0px !important;
  text-align: center;
  right: 8px;
}
/*
==========================
CURRENT WEATHER
==========================
*/
.weatherCityName {
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.weatherDescription {
  font-size: 12px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
// .currentWeather {
//   display: block;
//   margin: auto;
//   float: left;
//   width: 300px;
// }

.currentMin, .currentMax {
  font-size: 16px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.currentTemp {
  text-align: left;
  display: inline-block;
  font-size: 40px;
  margin: 0px;
  float: left;
  vertical-align: middle;
}
.currentWeatherIconAndTemp {
  padding-top: 20px;
  padding-bottom: 20px;
}
.center {
  text-align: center;
  padding-left: 1rem;
}

.smallMinMax {
  font-size: 12px;
  margin-top: -40px;
}

.mainWeatherImage {
  border: none;
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  z-index: 3;
  margin: auto;
}

/*
==========================
FORECAST
==========================
*/
.day {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom:14px;
  // margin-bottom: 8px;
}
.minMaxTemp {
  text-align: center;
  font-size: 12px;
  margin-bottom:10px;
  margin-top: 0px;
}
.forecast {
    // position: fixed;
    // top: 45vh;
    // right: 0;
    // height: 60vh;
    position: relative;
    display: block;
    margin: auto;
    width: 300px;
    float: right;
}

.forecastInfo {
  display: block;
  margin: auto;
  width: 300px;
  float: right;
  margin-top: 10px;
}

.forecastWeatherImage {
  border: none;
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom:10px;
  // margin-top: 10px;
  // line-height: 300px;
}
