/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/

@import "variables"; //standard variables throughout project

/*
==========================
GENERAL
==========================
*/

textarea {
  resize: vertical; max-height: 300px; min-height: 40px;
  color: #959595;
}

body {
  font-family: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;
  color: #ffffff;
}

.container {
  text-align: center;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 0.8em;
  font-weight: 600;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
}

/*
==========================
HEADER
==========================
*/
.Weather-Header {
  @include tab-header($weather-light-blue);
}
.WeatherExitButton {
  @include tab-exit-button(white);
  
    &:hover {
      // background: linear-gradient(to bottom, #f3f3f3 20%, #ffffff 100%);
      box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
    }
}
.Weather-Title-Text {
  @include tab-title
}

.Weather-Body {
  @include tab-body($weather-light-blue);
}
/*
==========================
CURRENT WEATHER
==========================
*/

.currentWeather {
  color: white;
}

.currentTempMinMax {
  border: solid 0.1em #ffffff;
  border-left: hidden;
  border-right: hidden;
  display: flex;
}

.currentMin {
  // position: flex;
  border: hidden 0.1em #ffffff;
  border-left: solid 0.1em #ffffff;
}

.currentMin, .currentMax {
  width: 50%;
}

.center {
  text-align: center;
  padding-left: 1rem;
}

.small {
  font-size: 0.8em;
  font-weight: 500;
}

.mainWeatherImage {
  border: none;
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  z-index: 3;
}

/*
==========================
FORECAST
==========================
*/

.forecast {
    position: fixed;
    top: 50vh;
    right: 0;
    height: 60vh;
}

.forecastInfo {
  display: block;
  margin: auto;
  width: 300px;
  float: right;
}

.forecastWeatherImage {
  border: none;
  width: 75px;
  height: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 10px;
  line-height: 300px;
}
/*
==========================
GRID
==========================
*/
.row {
  max-width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  right: 0px;
  position: relative;
}