/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/

@import "variables"; //standard variables throughout project

/*
==========================
GENERAL
==========================
*/

/*
==========================
HEADER & BODY
==========================
*/
.Weather-Header {
  @include tab-header($weather-light-blue);
}
.WeatherExitButton {
  @include tab-exit-button(white);
  
    &:hover {
      // background: linear-gradient(to bottom, #f3f3f3 20%, #ffffff 100%);
      box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
    }
}
.Weather-Title-Text {
  @include tab-title
}

.Weather-Body {
  @include tab-body($weather-light-blue);
  font-family: $tab-font;
  color: white;
}
/*
==========================
GRID
==========================
*/
.container {
  width: 300px !important;
  margin: 0px !important;
  padding: 0px !important;
}
.container-fluid {
  width: 300px !important;
  margin: 0px !important;
}
.row {
  width: 300px !important;
  margin: 0px !important;
  text-align: center;
}
/*
==========================
CURRENT WEATHER
==========================
*/
.weatherCityName {
  font-size: 20px;
  text-align: center;
}
.weatherDescription {
  font-size: 14px;
  text-align: center;
}
.currentWeather {
  display: block;
  margin: auto;
  float: left;
  width: 300px;
}

.currentTempMinMax {
  border: solid 0.1em #ffffff;
  border-left: hidden;
  border-right: hidden;
  display: flex;
}


.currentMin, .currentMax {
  font-size: 24px;
  text-align: center;
  text-justify: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
}

.currentTemp {
  text-align: center;
  text-justify: center;
  display: inline-block;
  font-size: 60px;
}

.center {
  text-align: center;
  padding-left: 1rem;
}

.smallMinMax {
  font-size: 12px;
  margin-top: -40px;
}

.mainWeatherImage {
  border: none;
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  z-index: 3;
  margin: auto;
}

/*
==========================
FORECAST
==========================
*/
.day {
  text-align: center;
  font-size: 16px;
}
.minMaxTemp {
  text-align: center;
  font-size: 16px;
}
.forecast {
    // position: fixed;
    // top: 45vh;
    // right: 0;
    // height: 60vh;
    position: relative;
    display: block;
    margin: auto;
    width: 300px;
    float: right;
}

.forecastInfo {
  display: block;
  margin: auto;
  width: 300px;
  float: right;
  margin-top: 10px;
}

.forecastWeatherImage {
  border: none;
  width: 75px;
  height: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  margin-top: 10px;
  line-height: 300px;
}
