/* The rest of the Search Area CSS is in index.css */
/* Selected search type */
.is-active {
  padding-bottom: .2rem;
  border-bottom: 0.15rem solid #2ECC71; }

/* Input */
input::placeholder {
  font-size: .8rem;
  text-indent: .6vw;
  text-align: left; }

input:focus {
  outline: none; }

/* Search icon */
/* Autosuggestion Dropdown */
.auto-container {
  position: relative;
  /*relative parent and absolute child is needed to overlay*/ }

.auto-list {
  /* display: block; */
  width: 40vw;
  border-radius: 1vw;
  margin-top: -20px;
  position: absolute;
  z-index: 10;
  background-color: white;
  opacity: 0.8; }

.auto-link {
  color: #2ECC71;
  padding: 5px 5px;
  font-size: 1vw;
  text-decoration: none;
  display: block; }

.auto-link:hover {
  color: white;
  background-color: #2ECC71; }
