

/* ===================================== 
   Base Element Styles
======================================== */

* {
	box-sizing: border-box;
}

* {
  outline : 1px solid red; 
}

/* html {
  height: 100vh;
} */

body {
  /* font-size: 1.4em; */
	font-family: sans-serif;
	color: #FFFFFF;
  padding: 0;
  margin: 0 !important;
  background-color: #7E7E7E;
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Makes image too short. Must be used with min-height */
  height: 100vh;   /* Creates scrollbar */
}