/*
==========================
GENERAL
==========================
*/
.SearchBox{
  resize: none;
}
textarea {
  resize: vertical; max-height: 300px; min-height: 40px;
  color: #959595;
}

body {
  font-family: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #959595;
}
/*
==========================
HEADER
==========================
*/
.Notes-Header {
  background-color: #ea3939;
  top: 0px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 140px
}

.Notes-Body {
  background: white;
  top: 140px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 100%;
}
.Notes-Title-Text {
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 80px;
}
/*
==========================
NOTES
==========================
*/
.Notes {
  right: 0px;
  width: 260px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 #959595;
  border: solid 0.2px #959595;
  border: solid 0.2px var(--warm-grey);
  color: #959595;
}

.NoteTitleTextBox {
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 25px;
  resize: none;
}

.NoteDescriptionTextBox {
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 0px;
}

.Title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #959595;
  padding-top: 10px;
  padding-left: 20px;
}

.Description {
  font-size: 12px;
  text-align: left;
  color: #959595;
  padding-top: 10px;
  padding-left: 20px;  
}

.searchNotes {
  height: 60px;
  padding: 20px;
}
/*
==========================
SEARCH
==========================
*/
.SearchBox {
  right: 20px;
  top: 160px;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 #959595;
  border: solid 0.3px #959595;
  border: solid 0.3px var(--warm-grey);
  align-items: center;
  color: #959595;
}

.SearchBoxText {
  padding-top: 15px;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

/*
==========================
BUTTONS
==========================
*/
.exitButton {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  position: fixed;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#ea3939;
  font-size:20px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  border: none;
  background-color:#ffffff;
}
.exitButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}

.notesButton {
  width: 70px;
  height: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 #959595;
  border: solid 0.5px #959595;
  border: solid 0.5px var(--warm-grey);
  color: #959595;
  background: white;
}

.notesButton:hover {
  background: #ea3939;
  color: white;
}

/* .addNotesButton img {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: fixed;
  top: 300px;
  right: 25px;
} */

.addNotesButton {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 265px;
  right: 30px;
	background-color:#ea3939;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size:15px;
  font-style: bold;
  text-align: center;
  border: none;
}
.addNotesButton:hover {
	background-color:#d02718;
}
