/*
==========================
IMPORT PARTIAL SASS FILES
==========================
*/
/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
body {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif; }

/*  main blue header */
.Todos-Header {
  background-color: #00a7ff;
  top: 0px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 140px; }

/* exit button up right in the header */
.exitButton {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  position: fixed;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #00a7ff;
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  border: none;
  background-color: #ffffff; }

.exitButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6; }

/* main title Todos in the header */
.Todos-Title-Text {
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 80px; }

.TodoButtonHover:hover {
  color: #4F7B9C; }

.DoneButtonHover:hover {
  color: #4F7B9C; }

.Done-heading {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  color: var(--azure);
  flex: 1; }

.Done-heading-selected {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  flex: 1; }

/* Todo and Done heading under the input box */
/* Will toggle color if selected or not */
.Todo-heading {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  color: var(--azure);
  flex: 1; }

.Todo-heading-selected {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  flex: 1; }

.Done-heading {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  color: var(--azure);
  flex: 1; }

.Done-heading-selected {
  font-family: "Helvetica Neue", Helvetica, "Varela Round", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  flex: 1; }

/* whole body under the main heading */
.Todos-Body {
  background: white;
  top: 140px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 100%;
  color: #959595; }

/* input box where I write new todos */
.input-box {
  margin-top: 15px;
  width: 260px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 #959595;
  border: solid 0.3px #959595;
  border: solid 0.3px var(--warm-grey);
  color: #959595;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px; }

/* this is the link to clear to do list in Done tab */
.aClearTodoList {
  color: #00a7ff;
  margin-left: 10px; }

.aClearTodoList:hover {
  color: #4F7B9C;
  margin-left: 10px; }

/* list with Todo/Done items */
.Todo-list {
  text-align: left; }

/* flexboxes */
.flex {
  display: flex; }

.flex1 {
  flex: 1; }

.flex2 {
  flex: 2; }

.flex12 {
  flex: 12; }

/* set the size of the delete image */
.imgDelete {
  width: 25px;
  height: 25px; }

.imgMoveUp {
  width: 30px;
  height: 30px; }

.test-trash {
  margin-right: 20px;
  background-color: red;
  border: solid; }

/* Make the img appear when mouse hover over */
/* https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only */
.hover_img {
  position: relative;
  padding-right: 10px; }

.hover_img span {
  position: absolute;
  display: none;
  z-index: 99;
  padding-right: 10px; }

.hover_img:hover span {
  display: block;
  padding-right: 10px; }

.blue {
  color: #00a7ff; }

/* 
                    *** checkbox styling Todo tab***
*/
/* https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.todo-control-group {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  vertical-align: top; }

.todo-control {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer; }

.todo-control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.todo-control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.2;
  background: #00a7ff; }

/* Hover and focus states */
.todo-control:hover input ~ .todo-control__indicator,
.todo-control input:focus ~ .todo-control__indicator {
  background: #00a7ff;
  opacity: 1; }

/* Checked state */
.todo-control input:checked ~ .todo-control__indicator {
  background: #00a7ff; }

/* Hover state whilst checked */
.todo-control:hover input:not([disabled]):checked ~ .todo-control__indicator,
.todo-control input:checked:focus ~ .todo-control__indicator {
  background: #00a7ff; }

/* Check mark */
.todo-control__indicator:after {
  position: absolute;
  display: none;
  content: ''; }

/* Show check mark */
.todo-control input:checked ~ .todo-control__indicator:after {
  display: block; }

/* Checkbox tick */
.todo-control--checkbox .todo-control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0; }

/* 
                    *** checkbox styling Done tab***
*/
/* https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes */
.done-control-group {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  vertical-align: top; }

.done-control {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer; }

.done-control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.done-control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  background: #959595; }

/* Hover and focus states */
.done-control:hover input ~ .done-control__indicator,
.done-control input:focus ~ .done-control__indicator {
  background: #959595;
  opacity: 0.3; }

/* Checked state */
.done-control input:checked ~ .done-control__indicator {
  background: #959595; }

/* Hover state whilst checked */
.done-control:hover input:not([disabled]):checked ~ .done-control__indicator,
.done-control input:checked:focus ~ .done-control__indicator {
  background: #959595; }

/* Check mark */
.done-control__indicator:after {
  position: absolute;
  display: none;
  content: ''; }

/* Show check mark */
.done-control input:checked ~ .done-control__indicator:after {
  display: block; }

/* Checkbox tick */
.done-control--checkbox .done-control__indicator:after {
  top: 4px;
  left: 8px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0; }

.line {
  text-decoration: line-through; }
