
body {
  font-family: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;
}

/* 
this is the main blue header 
 */
.Todos-Header {
  background-color: #00a7ff;
  top: 0px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 140px
}

.exitButton {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  position: fixed;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:#00a7ff;
  font-size:20px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  border: none;
  background-color:#ffffff;
}
.exitButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}



.Todos-Title-Text {
  width: 260px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 80px;
}

.Todo-Done-heading {
  height: 40px;
  font-family: HelveticaNeue;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-align: center;
  color: #00a7ff;
  color: var(--azure);
  flex: 1;
}






.Todos-Body {
  background: white;
  top: 140px;
  right: 0px;
  width: 300px;
  position: fixed;
  height: 100%;
}



.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.input-box {
    margin-top: 10px;
    width: 80%;
}

.Todo-list {
    text-align: left;
}

/* ul { */
/*     display: block; */
/*     float: none; */
/*     width: 100%; */
/* } */

/* .li-todo { */
/*     list-style-type: none; */
/*     float: left; */
/*     /1* display: block; *1/ */
/* } */

/* @media (max-width: 767px){ */
/*     .wp-ads li { */
/*          background: #1abc9c; */
/*          color: white; */
/*          display: block; */ 
/*          float: none; */
/*          overflow: hidden; */
/*          padding: 20px 0 20px 25px; */
/*          width: 20%; */
/*     } */
/* } */



/*
==========================
HEADER
==========================
*/





/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


/* .Todo { */
/*   height: 40px; */
/*   font-family: HelveticaNeue; */
/*   font-size: 16px; */
/*   letter-spacing: 2.7px; */
/*   color: #959595; */
/*   color: var(--warm-grey); */
/*   flex: 1; */
/* } */



/* .Rectangle-2 { */
/*   width: 300px; */
/*   height: 140px; */
/*   background-color: #00a7ff; */
/*   background-color: var(--azure); */
/* } */

/* .top { */
/*     color: red; */
/*     height: 5vh; */
/*     width: 90vh; */
/*     background-color: #00a7ff; */
/*     margin-bottom: 5vh; */
/*     margin-bottom: 2vh; */
/* } */

/* Todo text in header */
/* .Todo { */
/*   width: 162.9px; */
/*   height: 40px; */
/*   font-family: HelveticaNeue; */
/*   font-size: 20px; */
/*   font-weight: bold; */
/*   letter-spacing: 1.6px; */
/*   text-align: left; */
/*   color: #ffffff; */
/* } */


/* .checkbox { */
/*   width: 13.5px; */
/*   height: 8.3px; */
/*   border: solid 1px #979797; */
/* } */



/* .empty { */
/*     flex: 1; */
/* } */


/* .flex12 { */
/*     flex: 12; */
/* } */


/* .todoList { */
/*     flex: 12; */
/*     text-align: left; */
/* } */

/* .input-text { */
/*     flex: 12; */
/*     max-width: 500px; */
/* } */


/* .divClearTodoList { */
/*     color: #00a7ff; */
/*     flex: 12; */
/*     text-align: left; */
/*     width: 60px; */
/*     height: 40px; */
/*     font-family: HelveticaNeue; */
/*     font-size: 16px; */
/*     letter-spacing: 2.7px; */
/*     color: #00a7ff; */
/* } */


/*
==========================
Header (looked at Notes.css made by @lilgangwolf so it looks the same)
==========================
*/


.Todo-Header {
    background-color: #00a7ff;
    top: 0px;
    right: 0px;
    width: 300px;
    position: fixed;
    height: 140px
}



/* This is not working */
.TodoMainWidth {
    width: 300px;
    height: 100vh;
    background-color: red;
    float: right;
}

.block {
    display: block;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */


/*
==========================
GENERAL
==========================
*/

body {
  font-family: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #959595;
}
/*
==========================
NOTES
==========================
*/
/* .Notes { */
/*   right: 0px; */
/*   width: 260px; */
/*   height: 100px; */
/*   margin-top: 20px; */
/*   margin-left: 20px; */
/*   margin-right: 20px; */
/*   border-radius: 10px; */
/*   box-shadow: 2px 2px 4px 0 #959595; */
/*   border: solid 0.2px #959595; */
/*   border: solid 0.2px var(--warm-grey); */
/*   color: #959595; */
/* } */

/* .NewNoteBoxTitle { */
/*   height: 30px; */
/*   border-radius: 10px 10px 0px 0px; */
/*   margin-top: 0px; */
/*   resize: none; */
/* } */

/* .NewNoteBoxDescription { */
/*   height: 60px; */
/*   border-radius: 0px 0px 10px 10px; */
/*   margin-top: 0px; */
/* } */

/* .Title { */
/*   font-size: 13px; */
/*   font-weight: bold; */
/*   text-transform: uppercase; */
/*   text-align: left; */
/*   color: #959595; */
/*   padding-top: 10px; */
/*   padding-left: 20px; */
/* } */

/* .Description { */
/*   font-size: 12px; */
/*   text-align: left; */
/*   color: #959595; */
/*   padding-top: 10px; */
/*   padding-left: 20px; */  
/* } */

/* .searchNotes { */
/*   height: 60px; */
/*   padding: 20px; */
/* } */
/*
==========================
SEARCH
==========================
*/
/* .SearchBox { */
/*   right: 20px; */
/*   top: 160px; */
/*   width: 260px; */
/*   height: 40px; */
/*   border-radius: 10px; */
/*   box-shadow: 2px 2px 4px 0 #959595; */
/*   border: solid 0.3px #959595; */
/*   border: solid 0.3px var(--warm-grey); */
/*   align-items: center; */
/*   color: #959595; */
/* } */

/* .SearchBoxText { */
/*   padding-top: 15px; */
/*   font-size: 12px; */
/*   letter-spacing: 2px; */
/*   text-align: center; */
/* } */

/*
==========================
BUTTONS
==========================
*/
/* .exitButton { */
/*   border-radius: 50%; */
/*   width: 35px; */
/*   height: 35px; */
/*   top: 20px; */
/*   right: 20px; */
/*   position: fixed; */
/*   background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); */
/* 	border-radius:50%; */
/* 	display:inline-block; */
/* 	cursor:pointer; */
/* 	color:#ea3939; */
/*   font-size:20px; */
/*   font-weight: 700; */
/*   font-style: bold; */
/*   text-align: center; */
/*   border: none; */
/*   background-color:#ffffff; */
/* } */
/* .exitButton:hover { */
/*   background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%); */
/*   background-color:#f6f6f6; */
/* } */

/* .notesButton { */
/*   width: 70px; */
/*   height: 20px; */
/*   margin-top: 10px; */
/*   border-radius: 5px; */
/*   box-shadow: 2px 2px 4px 0 #959595; */
/*   border: solid 0.5px #959595; */
/*   border: solid 0.5px var(--warm-grey); */
/*   color: #959595; */
/*   background: white; */
/* } */

/* .notesButton:hover { */
/*   background: #ea3939; */
/*   color: white; */
/* } */

/* .addNotesButton img {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: fixed;
  top: 300px;
  right: 25px;
} */

/* .addNotesButton { */
/*   width: 20px; */
/*   height: 20px; */
/*   position: fixed; */
/*   top: 265px; */
/*   right: 30px; */
/* 	background-color:#ea3939; */
/* 	border-radius:50%; */
/* 	display:inline-block; */
/* 	cursor:pointer; */
/* 	color:#ffffff; */
/*   font-size:15px; */
/*   font-style: bold; */
/*   text-align: center; */
/*   border: none; */
/* } */
/* .addNotesButton:hover { */
/* 	background-color:#d02718; */
/* } */

